@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Regular.woff2') format('woff2'), url('./fonts/Rubik-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Medium.woff2') format('woff2'), url('./fonts/Rubik-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Istok Web';
    src: url('./fonts/IstokWeb-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Istok Web';
    src: url('./fonts/IstokWeb-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body {
    font-family: 'Rubik';
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 708px;
}

.header {
    margin: 18px 0 55px 0;
}

.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__search {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 568px;
    height: 203px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background-color: #fff;
    z-index: 1;
}

.header__input {
    margin-left: 50px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding: 14px 0 8px 0;
    width: 500px;
    border: none;
    background-color: transparent;
}

.header__search__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header__search__item {
    padding: 12px 15px;
    display: flex;
    gap: 11px;
}

.header__search__item--active {
    background: #FEF6D6;
}

.header__search__avatar {
    width: 24px;
    height: 24px;
}

.header__search__name {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

.header__logo {
    width: 128px;
    height: 59px;
    margin-right: 12px;
}

.header__icon {
    position: absolute;
    top: 15px;
    left: 15px;
}

.top-bar {
    margin-bottom: 35px;
}

.top-bar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 12px 7px 8px;
    width: 155px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.products {
    margin-bottom: 75px;
}

.products__list {
    margin-bottom: 30px;
}
.products__list .row {
    row-gap: 30px;
}

.products__card {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 13px 8px;
    min-height: 436px;
    width: 216px;
    border: 1px solid rgba(48, 47, 46, 0.7);
}

.products__card__img {
    width: 100%;
}

.products__card__status {
    margin: 0;
    font-family: 'Istok Web';
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
}

.products__card__person {
    gap: 5px;
    display: flex;
    margin: 0;
}
.products__card__person__right {
    height: fit-content;
}
.products__card__avatar {
    width: 48px;
    height: 48px;
}

.products__card__name {
    margin: 0;
    padding-top: 2px;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.308px;
}

.products__card__checked {
    display: inline-block;
    padding-right: 20px;
    font-family: 'Rubik';
    font-size: 11px;
    font-weight: 400;
    color: #FF9900;
    background-image: url('./img/checked.png');
    background-position: right center;
    background-size: 14px;
    transform: translateY(-8px);
}

.products__card__characteristic {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.products__card__characteristic:first-child {
    margin-bottom: 11px;
}

.products__card__characteristic__title {
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
}

.products__card__characteristic__value {
    font-family: 'Rubik';
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
}

.products__card__characteristic__value--border {
    position: relative;
    background-color: white;
    border-radius: 8px;
    width: 90px;
    height: 20px;
    text-align: center;
}

.products__card__characteristic__value--border::before {
    content: '';
    display: block;
    position: absolute;
    top: -1.8px;
    right: -1.8px;
    bottom: -1.5px;
    left: -1.5px;
    background: linear-gradient(180deg, #FFC107 0%, #EC851A 100%);
    border-radius: 10px;
    z-index: -1;
}

.products__card__characteristic__value--bg {
    width: 76px;
    height: 21px;
    background: #FDD446;
    border-radius: 10px;
    text-align: center;
}

.products__card__btn {
    margin: auto auto 0 auto;
    width: 183px;
    height: 37px;
    padding: 9px 0;
    background: linear-gradient(90deg, #FDD446 0%, #F79B47 100%);
    border-radius: 20px;
    border: none;
    font-family: 'Istok Web';
    font-size: 17px;
    font-weight: 400;
    line-height: 22px; 
}

.products__pagination {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: fit-content;
}

.products__pagination__btn {
    font-family: 'Istok Web';
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
}

.products__pagination__arrow--left{
    margin-right: 7px;
}

.products__pagination__arrow--right {
    margin-left: 7px;
}

.products__pagination__item {
    font-family: 'Istok Web';
    font-weight: 700;
    font-size: 18px;
    line-height: 45px;
    margin: 0 15px;
}

.products__pagination__item--active {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #FDD446;
    text-align: center;
    line-height: 42px;
    margin: 0 5px;
}

.footer {
    padding: 22px 0 12px 0;
    background: #FDD446;
}

.footer__top {
    display: flex;
    margin-bottom: 19px;
    padding-left: 29px;
}

.footer__logo {
    margin-bottom: 15px;
}

.footer__text {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer__address {
    margin-bottom: 8px;
    line-height: 40px;
}

.footer__email {
    margin-bottom: 40px;
}

.footer__social {
    display: flex;
    gap: 25px;
}

.footer__social__link {
    display: block;
}

.footer__list--1 {
    margin-right: 80px;
    width: 123px;
}

.footer__list--2 {
    margin-right: 78px;
    width: 160px;
}

.footer__list--3 {
    width: 220px;
}

.footer__item {
    margin-bottom: 12px;
}

.footer__item--title {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 12px;
}

.social {
    margin-top: 16px;
    display: flex;
    gap: 10px;
}

.social__link {
    display: block;
}

.social__link img {
    width: 20px;
    width: 20px;
}

.footer__bottom {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    height: 85px;
}

.footer__star {
    position: absolute;
    margin: 0 auto;
    bottom: 46px;
    left: 0;
    right: 0;
}

.footer__company {
    padding-top: 27px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}